<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="submit-category" method="post">
        <div class="container mt-5 pt-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="form-group ">
                        <label for="">Add Category</label>
                        <input type="text" class="form-control" name="categoryName">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</body>

</html>