<style>
    .mobile-menu-container .tab-pane {
        padding: 10px;
    }

    .mobile-menu li.open>a,
    .mobile-menu li.active>a {
        color: #333;
        border-radius: 10px;
        background: white !important;
    }

    .mobile-menu li a {
        font-size: 13px;
        border: none !important;
    }

    .nav-link {
        text-transform: none !important;
    }

    .mobile-menu-container {
        max-width: 250px !important;
    }
</style>
<div class="page-wrapper">
    <header class="header header-10 header-intro-clearance fixed-top py-1">
        <div class="header-top">
            <div class="container">
                <div class="header-left">

                </div><!-- End .header-left -->


            </div><!-- End .container -->
        </div><!-- End .header-top -->

        <div class="header-middle">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler text-white">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>
                    <h5 class="mt-1 text-white" style="margin-top: 13px !important;">Admin</h5>
                </div><!-- End .header-left -->


                <div class="header-right">
                    <div class="header-dropdown-link">
                        <div class="dropdown compare-dropdown">

                        </div>
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
    </header><!-- End .header -->

</div>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container mobile-menu-dark">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="#" method="get" class="mobile-search">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..."
                required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        

        <div class="tab-content">
            <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel"
                aria-labelledby="mobile-menu-link">
                <nav class="mobile-nav">
                    <ul class="mobile-menu">
                        <li class="active">
                            <a href="index.html">Orders</a>


                        </li>
                        <li>
                            <a href="category.html">Users</a>

                        </li>
                        <li>
                            <a href="product.html" class="sf-with-ul">Add Product</a>

                        </li>
                        <li>
                            <a href="product.html" class="sf-with-ul">Edit Product</a>

                        </li>
                        <li>
                            <a href="product.html" class="sf-with-ul">Add Category</a>

                        </li>


                    </ul>
                </nav><!-- End .mobile-nav -->
            </div><!-- .End .tab-pane -->

        </div><!-- End .tab-content -->


    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->


<!-- Plugins JS File -->