<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

</head>

<body>
    <div class="mt-5 pt-5"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-10">
                <div class="error-page">
                <h4>Oops! Page Not Found</h4>
                <p>The page you are looking for might have been removed or is temporarily unavailable.</p>
                <img width="200" src="assets\images\demos\demo-13\no-item-imgs\7887410_3793096.jpg"
                    alt="404 Error Image">
                
                <a class="btn btn-outline-primary" href="/">Go Back to Home</a>
            </div>
        </div>
    </div>
    </div>
</body>

</html>