<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order-details</title>
</head>

<body>
    <div class="mt-5 pt-5"></div>
    <div class="mt-5 pt-5"></div>
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <article class="card mb-4">
                
                <div class="card-body">
                    <header class="card-header">
                    <a href="#" class="float-right"> <i class="fa fa-print"></i> Print</a>
                    <strong class="d-inline-block mr-3">Order ID: 6123456789</strong>
                    <span>Order Date: 16 December 2018</span>
                </header>
                    <div class="row mt-3">
                        <div class="col-md-8">
                            <h6 class="text-muted">Delivery to</h6>
                            <p>Michael Jackson <br>
                                Phone +1234567890 Email: myname@gmail.com <br>
                                Location: Home number, Building name, Street 123, <br>
                                P.O. Box: 100123
                            </p>
                        </div>
                        <div class="col-md-4 mt-2">
                            <h6 class="text-muted">Payment</h6>
                            <span class="text-success">
                                <i class="fab fa-lg fa-cc-visa"></i>
                                Visa **** 4216
                            </span>
                            <p>Subtotal: $356 <br>
                                Shipping fee: $56 <br>
                                <span class="b">Total: $456 </span>
                            </p>
                        </div>
                    </div>
                    <div class="mt-2"></div> <!-- row.// -->
                    <div class="row  align-items-center">
                    <div class="col-9">
                        <p style="font-size: 15px;">Hira H105 Electric cloth Dryer</p>
                        
                        
                    </div>

                    <div class="col-3 align-items-center">
                        <img width="70"  src="/images/1722521488938-jeans.png" alt="">
                    </div>

                </div>
                </div> <!-- card-body .// -->
                
            </article> <!-- card order-item .// -->
        </div>
    </div>
</body>

</html>