<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order-details</title>
</head>
<body>
    <div class="mt pt-5"></div>
    <div class="mt pt-5"></div>
    <h1>Order-details page</h1>
</body>
</html>