<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy policy</title>
</head>

<body>
    <div class="mt-5 pt-5"></div>
    <div class="container mt-lg-5 pt-lg-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 ">
                <h4>Privacy Policy</h4>
                <b>Information We Collect</b>
                We collect several types of information from and about users of our Site, including:
                Personal Identification Information: Name, email address, phone number, mailing address, payment
                information, etc.
                Non-Personal Identification Information: Browser type, operating system, Internet service provider, IP
                address, referring/exit pages, and date/time stamps.
                <br>
                <b>How We Collect Information</b>
                We collect information in a variety of ways, including:
                Directly from you: For example, when you provide information to us by filling in forms on our Site,
                purchasing our T-shirt design bundles, or contacting us.
                Automatically: As you navigate through the Site, we may use automatic data collection technologies to
                collect certain information about your equipment, browsing actions, and patterns. This may include
                details of your visits to our Site and information about your computer and internet connection.
                <br>
                <b>How We Use Your Information</b>
                We use the information we collect for various purposes, including:
                To provide, operate, and maintain our Site To improve, personalize, and expand our Site To understand
                and analyze how you use our Site To develop new products, services, features, and functionality
                To process your transactions and manage your orders for T-shirt design bundles
                To communicate with you, either directly or through one of our partners, including for customer service,
                to provide you with updates and other information relating to the Site, and for marketing and
                promotional purposes
                To send you emails
                To find and prevent fraud
                <br>
                <b>How We Share Your Information</b>
                We may share your information in the following situations:
                With Service Providers: We may share your information with third-party service providers to help us
                operate our business and the Site or administer activities on our behalf, such as sending out
                newsletters or surveys.
                For Business Transfers: We may share or transfer your information in connection with, or during
                negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of
                our business to another company.
                With Affiliates: We may share your information with our affiliates, in which case we will require those
                affiliates to honor this Privacy Policy.
                With Business Partners: We may share your information with our business partners to offer you certain
                products, services, or promotions.
                With Your Consent: We may disclose your personal information for any other purpose with your consent.
                Security of Your Information
                We use administrative, technical, and physical security measures to help protect your personal
                information. While we have taken reasonable steps to secure the personal information you provide to us,
                please be aware that despite our efforts, no security measures are perfect or impenetrable, and no
                method of data transmission can be guaranteed against any interception or other type of misuse.
                <br>
                <b>Your Data Protection Rights</b>
                Depending on your location, you may have the following rights regarding your personal information:
                The right to access - You have the right to request copies of your personal data.
                The right to rectification - You have the right to request that we correct any information you believe
                is inaccurate or complete information you believe
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>