<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<style>
    .success-container {
        height: 80vh;
        /* Full viewport height */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .success {
        
        color: #28a745;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-weight: 900;
        font-size: 40px;
        margin-top: 10px;
    }

    .pr {
        color: #404F5E;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-size: 20px;
        margin: 0;
    }

    .checkmark {
        color: #28a745;
        font-size: 100px;
        line-height: 200px;
        margin-left: -15px;
    }

    .card {
        margin-top: 40px;
        text-align: center;
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
    }
</style>

<body>
    <div class="container success-container mt-5 pt-5">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
                        <i class="checkmark">✓</i>
                    </div>
                    <h1 class="success">Success</h1>
                    <p class="pr">We received your purchase request: we'll be in touch shortly!</p>
                   <a href="/profile"><div class="btn btn-success mt-1">Go to Orders</div></a> 
                   <a href="/"><div class="btn btn-outline-success mt-1">Continue Shopping</div></a> 
                </div>
            </div>
        </div>
    </div>
</body>

</html>