body {
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden !important;
    /* Prevent horizontal overflow */
}


.btn {
    border-radius: 8px !important;
}

.header-intro-clearance {
    background-color: #1d2228 !important;
}

.search-btn {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

/* User mobile menu search styles */
.mobile-search {}

.srch {
    border-top-left-radius: 7px !important;
    border-bottom-left-radius: 7px !important;

}

.icon-bars {
    font-size: 22px;
}

.cart-btn-head {
    font-size: 30px;
}



.intro-title {
    color: #6c757d !important;
    text-shadow: 1px 1px 3px rgb(0 0 0);
    font-weight: 500 !important;
}


.whatsapp-float {
    position: fixed;
    background-color: rgb(17, 203, 17);
    border-radius: 100%;
    width: 55px;
    height: 55px;
    bottom: 20px;
    /* Distance from the bottom of the screen */
    right: 10px;
    /* Distance from the right side of the screen */
    z-index: 100;
    /* Ensure it appears above other elements */
}

.watsapp-icon {
    font-size: 32px;
    border-radius: 100%;
    padding: 12px;
    color: white;
}

.whats {
    width: 50px;
    height: 50px;
    background-color: red;
}

.header-center {
    text-align: center;
    flex: 1;
}

/* Header dropdown border-radius */
.cart-dropdown .dropdown-menu,
.compare-dropdown .dropdown-menu {
    border-radius: 10px !important;
}

.product-body {
    padding-top: 5px !important;
    padding-bottom: 0px !important;
    padding-left: 10px !important;

}

.nav-link:focus,
.nav-link:active {
    color: black !important;
    /* Change this to the color you want */
}

.nav-link:focus {
    outline: none !important;
    color: initial !important;
    /* Or reset to original color */
}